body {
  padding-bottom: 20px;
}
.row {
  margin: 20px 0;
}
.homepage-movies .header-movies .search-bar-movies {
  margin: 40px 0;
}
@media (max-width: 768px) {
  .homepage-movies .header-movies .search-bar-movies {
    margin: 0;
  }
}
.homepage-movies .header-movies .img-logo {
  margin: 10px 0;
}
@media (min-width: 768px) {
  .homepage-movies .header-movies .img-logo {
    width: 75%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .homepage-movies .header-movies .img-logo {
    width: 50%;
  }
}
.homepage-movies .movies-nav-bar {
  background: #000000;
  padding: 10px;
  text-align: center;
}
.homepage-movies .movies-nav-bar a {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  margin: 0 10px;
}
.homepage-movies .movies-nav-bar .dropdown-menu > li > a {
  color: #000000;
}
.homepage-movies .carousel .carousel-images {
  width: 100%;
  height: 525px;
  max-height: 525px;
}
.homepage-movies .movie-container {
  padding: 0 5px;
  height: 320px;
  max-height: 320px;
  margin-bottom: 20px;
}
.homepage-movies .movie-container .movie-information {
  padding: 0 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 2px #FFA500;
}
.homepage-movies .movie-container .movie-information .movie-info {
  border-radius: 0;
  float: right;
}
.homepage-movies .movie-container .movie-information .movie-info:hover {
  background: #FFA500;
}
.homepage-movies .movie-container .movie-poster {
  width: 100%;
  height: 220px;
  max-height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.homepage-movies .movie-container .movie-title {
  display: inline-block;
  width: 75%;
  font-weight: bold;
  font-size: 14px;
}
.homepage-movies .movie-container .movie-description {
  font-style: italic;
}
.homepage-movies .modal-movie-info .modal-header .close {
  opacity: inherit;
  color: #FFA500;
}
.homepage-movies .modal-movie-info .modal-header .modal-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #FFA500;
  font-weight: bold;
}
.homepage-movies .modal-movie-info .modal-body {
  color: #FFA500;
  font-size: 14px;
  font-weight: bold;
}
