//Variables
@ColorBlack: #000000;
@ColorWhite: #FFFFFF;
@ColorOrange: #FFA500;
@Spacing: 10px;

body {
  padding-bottom: 20px;
}
.row {
  margin: @Spacing*2 0;
}
.homepage-movies {
  .header-movies {

    .search-bar-movies {
      margin: @Spacing*4 0;
      @media (max-width: 768px) {
        margin: 0;
      }
    }

    .img-logo {
      margin: @Spacing 0;
      @media (min-width: 768px) {
        width: 75%;
        margin: 0;
      }
      @media (min-width: 1200px) {
        width: 50%
      }

    }

  }

  .movies-nav-bar {
    background: @ColorBlack;
    padding: @Spacing;
    text-align: center;
    a {
      text-transform:  uppercase;
      color: @ColorWhite;
      font-weight: bold;
      margin: 0 @Spacing;

    }
    .dropdown-menu > li > a {
      color: @ColorBlack;
    }

  }
  .carousel {
    .carousel-images {
      width: 100%;
      height: 525px;
      max-height: 525px;
    }
  }

  //Movie Container
  .movie-container {
    padding: 0 @Spacing/2;
    height: 320px;
    max-height: 320px;
    margin-bottom: @Spacing*2;
    .movie-information {

      .movie-info {
        border-radius: 0;
        float: right;
        &:hover {
          background: @ColorOrange;
        }
      }
      padding: 0 @Spacing/2;
      border-bottom-right-radius: @Spacing;
      border-bottom-left-radius: @Spacing;

      border: solid 2px @ColorOrange;
    }

    .movie-poster {
      width: 100%;
      height: 220px;
      max-height: 220px;
      border-top-left-radius: @Spacing;
      border-top-right-radius: @Spacing;

    }
    .movie-title {
      display: inline-block;
      width: 75%;
      font-weight: bold;
      font-size: 14px;
    }
    .movie-description {
      font-style: italic;
    }
  }

  //Modal Container
  .modal-movie-info {
    .modal-header {
      .close {
        opacity: inherit;
        color: @ColorOrange;
      }
      .modal-title {
        text-transform: uppercase;
        font-size: 16px;
        color: @ColorOrange;
        font-weight: bold;
      }
    }

    .modal-body {
      color: @ColorOrange;
      font-size: 14px;
      font-weight: bold;
    }
  }
}