<!DOCTYPE html>
<html lang="en" ng-app="cwiTest">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cwi Test Front-End</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="css/Style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="homepage-movies">
      <div class="row">
        <div class="container header-movies" ng-controller="MoviesController">
          <div class="col-sm-12 logo text-center">
            <div class="col-sm-3">
              <a>
                <img class="img-logo" src="http://theieltscoach.com/wp-content/uploads/2015/03/Video-Production-Icon-Round1-150x150.png">
              </a>
            </div>
            <div class="col-sm-6 search-bar-movies">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"  ng-click="findMovies()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
                <input type="text" class="form-control" placeholder="O que você está procurando"  ng-model="searchResults" ng-value="searchResults">
              </div>
            </div>

          </div>

        </div>


      </div>
      <div class="row">
        <div class="container-fluid movies-nav-bar">
          <a href="#" >Action  </a>
          <a href="#" >Adventure  </a>
          <a href="#" >Sci-Fi  </a>
          <a href="#" >Thriller </a>
          <a href="#" >Comedy </a>
          <a href="#" >Drama </a>
        </div>
      </div>

      <div class="row">
        <div class="container carousel" ng-controller="MoviesController">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" ng-class="{active:!$index}"  ng-repeat="carrossel in carrossel" data-slide-to="{{$index}}" ></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item " ng-class="{active:!$index}"  ng-repeat="carrossel in carrossel">
                <img class="carousel-images img-responsive" ng-src="{{carrossel.url}}" alt="{{carrossel.titulo}}">
                <div class="carousel-caption">
                  {{carrossel.descricao}}
                </div>
              </div>


            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>


      <div class="container" ng-controller="MoviesController">
        <div class="col-sm-4 movie-container" ng-repeat="catalogo in (catalogo  = ( catalogo | filter:searchResults)) ">
          <img class="img-responsive movie-poster" data-ng-src="{{catalogo.url}}" alt="">

          <div class="movie-information">
            <p class='movie-title'><span>Titulo:</span> {{catalogo.titulo}}</p>
            <button type="button" class="movie-info btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#movieInfo{{$index}}">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>
            <p class='movie-description'><span>Descrição:</span> {{catalogo.descricao}}</p>
            <p><input type="hidden" class="rating" value="{{catalogo.estrelas}}" /></p>
          </div>
        </div>

        <div class="modal fade modal-movie-info" ng-repeat="catalogo in catalogo" id="movieInfo{{$index}}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="background:url('{{catalogo.url}}')">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" >{{catalogo.titulo}}</h4>
                </div>
                <div class="modal-body">
                  <p>{{catalogo.descricao}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!-- Angular 1.4.3 -->

    <script src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src='js/angular/main.js'></script>

    <script type="text/javascript" src='js/angular/controller/movies-controller.js'></script>
  </body>
</html>